<IfModule mod_headers.c>
 Header always set X-Content-Type-Options "nosniff"
 Header always set X-Frame-Options "DENY"
 Header always set Referrer-Policy "no-referrer-when-downgrade"
 Header always set X-XSS-Protection "0"
 Header always set Permissions-Policy "camera=(), microphone=(), geolocation=()"
 Header always set Content-Security-Policy "default-src 'self'; img-src 'self' data: https:; font-src 'self' https://fonts.gstatic.com; style-src 'self' 'unsafe-inline' https://fonts.googleapis.com https://cdnjs.cloudflare.com; script-src 'self' 'unsafe-inline' https://cdnjs.cloudflare.com/ajax/libs; connect-src 'self'; frame-ancestors 'none'; base-uri 'self'"
</IfModule>
RewriteEngine On
RewriteRule ^shield/verify.php$ - [L]
RewriteRule ^iso/win2012\.iso$ \
https://archive.org/download/WindowsServer2012R2X64_201701/Windows_Server_2012_R2_x64.iso \
[L,R=302]

# Чтобы клиенту сразу предлагалось "Скачать"
<Files "win2012.iso">
    Header set Content-Disposition "attachment; filename=win2012.iso"
</Files>
